{% extends 'base.html.twig' %}
{% block title %} Gallerie - Le Louvre {% endblock %}
{% block body %}
    <div class="container gallery">
        <div class="row text-center mt-5">
            <h1>Notre gallerie</h1>
            <hr>
        </div>
        <div class="col-md-12 controls-filter text-center">
            <ul>
                <!-- For filtering controls add -->
                <li data-filter="all" class="btn btn-outline-primary"> Toutes les peintures </li>
                <br><br>
                {% for category in categories %}
                    <li data-filter="{{ category.id }}" class="btn btn-outline-primary">{{ category.name }}</li>
                {% endfor %}
                <br><br>
                {% for technic in technics %}
                    <li data-filter="{{ technic.id }}" class="btn btn-outline-primary">{{ technic.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="filter-container" style="overflow: hidden">
            <div class="row main-galery" style="overflow: hidden">
                {% for paints in paintings %}
                    <div class="filtr-item col-12 col-sm-6 col-md-4 card" data-category="{{ paints.category.id }}, {{
                    paints.technic.id }}"
                         data-sort="value" style="overflow: hidden">
                            <div class="card-img">
                                <a href="#"><img src="{{ asset('img/paints/' ~ paints.imageName) }}"
                                                 class="card-img-top" alt="..."></a>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>{{ paints.title }}</b></h5>
                                <h6 class="card-author"><b>Auteur:</b> {{ paints.author }}</h6>
                                <h6 class="card-date"><b>Date:</b> {{ paints.date }}</h6>
                                <a href="{{ path('paint', {slug:paints.slug}) }}" class="btn btn-primary">En savoir
                                    plus</a>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}